#cube 	{position: absolute;     
			top: 30px;
    		left: 30px;
    		width: 100px;
    		height: 100px;}
#ink		{position: absolute;     
			top: 30px;
    		left: 160px;
    		width: 100px;
    		height: 100px;}